# PowerShell
*.psm1
*.psd1
*.clixml
*.ps1xml

# Secrets & local config
.env
.env.*
secrets.json
config.local.json

# Logs & exports
logs/
exports/
*.log
*.csv

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Zip Code
*.zip
